doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
    a(href= "/about_me") About Me  | 
    a(href= "/projects") Projects Page | 
    a(href= "/services") Services Page | 
    a(href= "/contact_me") Contact Me | 
